/*--for loading---*/
.no-js #loader {
    display: none;
}

/*.js #loader {*/
/*    display: block;*/
/*    position: absolute;*/
/*    left: 100px;*/
/*    top: 0;*/
/*}*/

/*.se-pre-con {*/
/*    position: fixed;*/
/*    left: 0px;*/
/*    top: 0px;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: 9999;*/
/*}*/

/*------------------------*/

/*---body container and list---*/
/*.js-body {*/
/*    position: relative;*/
/*    margin: auto;*/
/*    height: inherit;*/
/*    z-index: 33;*/
/*}*/


#top-glow {
    /*position: absolute;*/
    /*top: calc(-4% - 10px);*/
    /*right: 0;*/
    /*z-index: -1;*/
    /*background-size: 63%;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
}

.js-canvas {
    z-index: 0;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
}

canvas {
    margin-left: -200px;
    margin-top: -120px;

    height: 700px;
}

.js-list {
    list-style-type: none;
    margin: 0;
}

/*.js-list li:hover {*/
/*    background: #d5cccc !important;*/
/*    !*cursor: pointer;*!*/
/*}*/

.body .body-list > li {
    opacity: 1;
    margin-left: -220px;
    margin-top: -133px;
    position: absolute;
    margin-right: 100px;
    list-style-image: url('../img/dots.png');
    width: 100px;
    height: 25px;

    z-index: 51;
}


/*bodypart text*/
.body .body-list .text {
    position: absolute;
    opacity: 1;
    top: 22%;
    margin-right: 200px;
    color: #333333;
    display: block;
    font-size: 17px;
    font-family:"Roboto";

    text-align: right;
    white-space: nowrap;
    transform: translateY(-50%);
    width: auto;
    height: 16px;
    padding: 2px;
}

/*---hide body when screen is too small*/
/*@media screen and (max-width: 650px) {*/
/*    .body {*/
/*        display: none;*/
/*    }*/

/*    .body {*/
/*        display: none;*/
/*    }*/
/*}*/
